@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@300&family=Sofia&display=swap');
/* Se definen las variables CSS */
:root {
    
    --fuentePrincipal: 'Raleway', sans-serif;
    --fuenteSecundaria: 'Josefin Sans', sans-serif;
    --fuenteCursiva: 'Sofia', cursive;
}
/* Se establecen estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}
/* Se le asignan estilos al menú de navegación */
.header {
    background-color: #78BADB;
    font-family: var(--fuenteSecundaria);
    display: grid;
    grid-template-columns: 10% 65% 25%;
    text-align: center;
    align-items: center;
    height: 4rem;
    padding: 1rem 1rem;
    font-size: 20px;
    box-shadow: 0 0 1rem 0 #1e559c;
}
.header__btnMenu,
.header__btnCerrar {
    display: block;
}

.header__nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #28a4e1;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax #00000080;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    font-size: 15px;
}
.header__ul {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-left: 2rem;
}
.header__li {
    display: inline-block;
    margin-bottom: 0.2rem;
}
.header__li a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}
.header__li:hover {
    transform: scale(1.1);
    background-color: #a3d4ff;
    border-radius: 2rem;
    padding: 0rem 1rem;
}

.header__btnA {
    font-weight: 700;
    font-size: 13px;
    color: #eceff1;
    padding: 0.3rem 1.0rem;
    background-color: #113775f0;
    border: none;
    border-radius: 3.1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header__btnA:hover {
    background-color: #c88f44;
    color: black;
    transform: scale(1.1);
}
.header__nav--visible {
    opacity: 1;
    visibility: visible;
    width: 65%;
    height: 100%;
    font-size: 13px;
    pointer-events: all;
    z-index: 1000;
}
.body--activo {
    position: relative;
    pointer-events: none;
}
.header__btnMenu {
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    color: #eceff1;
}
.header__btnCerrar {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding-left: 2rem;
    color: white;
    font-size: 1.4rem;
}

.contenedor__logo{
    font-family: var(--fuenteCursiva);
    font-size: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__logoTitle {
    margin: 0;
    -webkit-text-stroke: 1px black;
    font-size: 1rem;
}
.contenedor__logoTitle i {
    font-size: 1rem;
    -webkit-text-stroke: 1px black;
    margin: 0 0.2rem;
    color: #c88f44;
}
@media (min-width: 768px) and (max-width: 1045px){
    .header {
        background-color: #78BADB;
        font-family: var(--fuenteSecundaria);
        display: grid;
        grid-template-columns: 5% 78% 17%;
        text-align: center;
        align-items: center;
        height: 5rem;
        padding: 1rem 2rem;
        font-size: 20px;
        box-shadow: 0 0 1rem 0 #1e559c;
    }
    .header__btnMenu,
    .header__btnCerrar {
        display: block;
    }
    
    .header__nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #28a4e1;
        box-shadow: 0 0 0 100vmax #00000080;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        font-size: 15px;
    }
    .header__ul {
        list-style: none;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        padding-left: 2rem;
    }
    .header__li {
        display: inline-block;
    }
    .header__li a {
        font-size: 700;
        color: #eceff1;
        text-decoration: none;
    }
    
    .header__btnA {
        font-weight: 700;
        font-size: 20px;
        color: #eceff1;
        padding: 0.4rem 1.5rem;
        background-color: #113775f0;
        border: none;
        border-radius: 3.1rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .header__btnA:hover {
        background-color: #c88f44;
        color: black;
        transform: scale(1.1);
    }
    .header__nav--visible {
        opacity: 1;
        visibility: visible;
        width: 40%;
        height: 100%;
        font-size: 20px;
        pointer-events: all;
    }
    .body--activo {
        position: relative;
        pointer-events: none;
    }
    .header__btnMenu {
        cursor: pointer;
        outline: none;
        color: #eceff1;
        font-size: 2rem;
    }
    .header__btnCerrar {
        cursor: pointer;
        outline: none;
        padding-left: 2rem;
        color: white;
        font-size: 2rem;
    }
    
    .contenedor__logo{
        font-family: var(--fuenteCursiva);
        font-size: 2rem;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor__logoTitle {
        margin: 0;
        -webkit-text-stroke: 2px black;
        font-size: 2rem;
    }
    .contenedor__logoTitle i {
        font-size: 2rem;
        -webkit-text-stroke: 2px black;
        margin: 0 0.5rem;
        color: #c88f44;
    }
}
@media(min-width:1046px){
    .header {
        background-color: #78BADB;
        font-family: var(--fuenteSecundaria);
        display: grid;
        grid-template-columns: 80% 20%;
        height: 5rem;
        padding: 1rem 3rem;
        font-size: 20px;
        box-shadow: 0 0 50rem 0rem #1e559c70;
    }
    .header__btnMenu,
    .header__btnCerrar {
        display: none;
    }
    
    .header__nav {
        position: absolute;
        top: 0;
        left: 25%;
        background-color: transparent;
        height: 5rem;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        opacity: 1;
        visibility: visible;
        width: 50%;
        align-items: center;
        box-shadow: none;
    }
    .header__ul {
        list-style: none;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
    }
    .header__li {
        display: inline;
        margin-right: 2.5rem;
        margin-top: 0.5rem;
    }
    .header__li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .header__li:hover {
        transform: scale(1.1);
        background-color: #a3d4ff;
        border-radius: 2rem;
        padding: 0rem 1rem;
    }
    
    
    .header__btnA {
        font-weight: 700;
        font-size: 18px;
        color: #eceff1;
        padding: 0.3rem 1.5rem;
        background-color: #113775f0;
        border: none;
        border-radius: 3.1rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        float: right;
    }
    .header__btnA:hover {
        background-color: #c88f44;
        color: black;
        transform: scale(1.1);
    }
    .contenedor__logo{
        font-family: var(--fuenteCursiva);
        font-size: 3rem;
        color: black;
        display: flex;
        justify-content: left;
        align-items: left;
    }
    .contenedor__logoTitle {
        margin: 0;
        -webkit-text-stroke: 1.5px black;
        font-size: 1.5rem;
    }
    .contenedor__logoTitle i {
        font-size: 1.5rem;
        -webkit-text-stroke: 1.5px black;
        margin: 0 0.5rem;
        color: #c88f44;
    }
}
  /* Aqui termina la Barra de Navegación */


 /*movil*/

@media (min-width: 320px){

}


 /*tablet*/

@media (min-width: 768px) and (max-width: 1022px){
    
    

}

/*Aqui empieza el carrusel*/

main {
    background-color: white;
    padding-bottom: 12%;
}
.carrusel {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    border-radius: 15px;
}
.titulo {
    font-family: var(--fuentePrincipal);
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
    
}
.carrusel ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 10s infinite alternate linear;
}
.carrusel li {
    width: 100%;
    list-style: none;
}
.carrusel img {
    width: 100%;
    height: 33rem;
}
@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    
    35% {margin-left: -100%;}
    65% {margin-left: -100%;}
    
    70% {margin-left: -200%;}
    100% {margin-left: -200%;}	
}

/*termina el carrusel*/

    
/*img, descripcion y bton seleccion productos-megabilidad-preguntas frecuentes*/

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.contenedor-0{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: #1e559c;*/
    margin-top: 1rem;

}
.contenedor img {
    width: 30%;
    height: 100%;
}
.contenedor label {
    font-family: var(--fuenteSecundaria);
    width: 40%;
    height: 100%;
    font-weight: bold;
    font-size: 1rem;
}
#nav-1 {
    background-color:#113775f0;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    margin: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}

ul, ol {
    list-style:none;  
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#113775f0;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    margin: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.nav li a:hover {
    background-color:#c88f44;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    right:315px;
    width: 100%;
    top:0px;
    z-index: 99;
}
/*termina img, descripcion y bton seleccion productos-megabilidad-preguntas frecuentes*/




