@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@300&family=Sofia&display=swap');
/* Se definen las variables CSS */
:root {
    --primario: #84b6f4;
    --secundario: #a3d4ff;
    --botones: #00a485;
    --bordes: #78871f;
    --iconos: #c88f44;
    --fuentePrincipal: 'Raleway', sans-serif;
    --fuenteSecundaria: 'Josefin Sans', sans-serif;
    --fuenteCursiva: 'Sofia', cursive;
}
/* Se establecen estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #EEEEEE;
}
/* Se le asignan estilos al menú de navegación */
.header {
    background-color: #28a4e1;
    font-family: var(--fuenteSecundaria);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    padding: 1rem 10%;
    font-size: 20px;
    box-shadow: 0 0 1rem 0 #1e559c;
}
.header__btnMenu {
    display: none;
}
.header__btnMenu,
.header__btnCerrar {
    display: none;
}
@media screen and (max-width: 1180px) {
    .header__btnMenu,
    .header__btnCerrar {
        display: block;
    }
    .header__nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #28a4e1;
        padding: 1rem;
        padding-left: 0;
        bottom: 0;
        box-shadow: 0 0 0 100vmax #00000080;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        gap: 1rem;
        opacity: 0;
        visibility: hidden;
        font-size: 15px;
    }
    .header__ul {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    .header__nav--visible {
        opacity: 1;
        visibility: visible;
    }
    .header__btnMenu {
        appearance: none;
        border: none;
        margin: 0;
        padding: 0;
        background: none;
        cursor: pointer;
        outline: none;
        color: #eceff1;
    }
    .header__btnCerrar {
        appearance: none;
        border: none;
        margin: 0;
        padding: 0;
        background: none;
        cursor: pointer;
        outline: none;
        padding-left: 2rem;
        padding-top: 1rem;
    }
}
.header__nav {
    order: 1;
}
.header__ul {
    list-style: none;
    margin-bottom: 0;
}
.header__li {
    display: inline-block;
    padding: 0 1.2rem;
}
.header__li:hover {
    transform: scale(1.1);
    background-color: #a3d4ff;
    border-radius: 3.1rem;
}
.header__li a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}
.header__li a:hover {
    color: #113775d7;
}
.header__ulCliente {
    padding-left: 1rem;
    list-style: none;
    position: absolute;
    display: none;
    width: 16rem;
    background-color: #113775d7;
}
.header__li:hover .header__ulCliente {
    display: block;
}
.header__liCliente:hover {
    background-color: #28a3e1eb;
}
.header__liCliente a:hover {
    display: block;
    color: white;
    padding: .5rem .5rem .5rem 1rem;
}
.header__ulNegocio {
    padding-left: 1rem;
    list-style: none;
    position: absolute;
    display: none;
    width: 16rem;
    background-color: #113775;
}
.header__li:hover .header__ulNegocio {
    display: block;
}
.header__liNegocio:hover {
    background-color: #28a3e1eb;
}
.header__liNegocio a:hover {
    display: block;
    color: white;
    padding: .5rem .5rem .5rem 1rem;
}
.header__btn {
    order: 2;
    margin-left: auto;
}
.header__btnA {
    font-weight: 700;
    color: #eceff1;
    padding: .5rem 1.5rem;
    background-color: #113775f0;
    border: none;
    border-radius: 3.1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header__btnA:hover {
    background-color: var(--iconos);
    color: #d7eacd;
    transform: scale(1.1);
}
@media screen and (max-width: 1180px){
    .header__btnA{
        font-size: 15px;
    }
}
/* Se asignan estilos al contenedor logoBanner */
.contenedor__logoBanner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 3rem 3rem 2rem 3rem;
    align-items: center;
    gap: 2rem;
}
/* Se le asignan estilos al logo */
.contenedor__logo {
    font-family: var(--fuenteCursiva);
    text-align: center;
    font-size: 5rem;
    padding: 0;
    color: black;
    background-color: white;
    width: 53%;
    height: 10rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__logoTitle {
    margin: 0;
    -webkit-text-stroke: 2px black;
}
.contenedor__logoTitle i {
    margin-bottom: 0;
    font-size: 50px;
    color: #c88f44;
    margin-left: .2rem;
    margin-right: .2rem;
    -webkit-text-stroke: 3px black;
}
.contenedor__banner {
    background-color: #fafafa;
    width: 100%;
    height: 10rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__bannerParrafo {
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    margin: 0;
    font-size: 22px;
}
@media screen and (max-width: 550px){
    .contenedor__bannerParrafo {
        padding: 1rem;
    }
    .contenedor__logoBanner{
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .contenedor__banner{
        width: 100%;
        height: 10rem;
        align-self: flex-start;
        flex-shrink: 3;
    }
    .contenedor__logo{
        width: 100%;
        height: 10rem;
        align-self: flex-start;
    }
    .contenedor__bannerParrafo {
        font-size: 15px;
    }
}
@media screen and (max-width: 1180px){
    .contenedor__logoBanner{
        margin: 1rem;
    }
}
/* Se asignan estilos al contenido */
.contenedor__marcaEmpresarial{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 25rem 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem 3rem 3rem 3rem;
    gap: 2rem;
    font-family: var(--fuentePrincipal);
    text-align: justify;
    font-size: 22px;
}
@media screen and (max-width: 1180px){
    .contenedor__marcaEmpresarial{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin: 1rem;
    }
    .contenedor__vision{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 550px){
    .contenedor__marcaEmpresarial{
        text-align: center;
        font-size: 15px;
    }
}
.contenedor__visionImg, .contenedor__misionImg{
    display: block;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
@media screen and (max-width: 550px){
    .contenedor__visionImg, .contenedor__misionImg{
        width: 100%;
        height: 10rem;
    }
}
.contenedor__valores{
    grid-row: 1/3;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 #d7d7d7;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__mision{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: row-reverse;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 #d7d7d7;
    padding: 2rem;
}
@media screen and (max-width: 1180px){
    .contenedor__mision{
        flex-direction: column-reverse;
    }
}
.contenedor__vision{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    gap: 2rem;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 #d7d7d7;
    padding: 2rem;
    align-items: center;
    align-self: flex-end;
}
.contenedor__valoresTitle,
.contenedor__misionTitle, 
.contenedor__visionTitle{
    font-family: var(--fuenteSecundaria);
}
.contenedor__valoresTitle{
    text-align: center;
    margin-bottom: 2rem;
}
.contenedor__valoresSubtitle{
    font-family: var(--fuenteSecundaria);
    font-size: 23px;
    color: var(--bordes);
}
.contenedor__misionImg, 
.contenedor__visionImg{
    box-shadow: 0 0 1rem 0 #d7d7d7;
}
/* Se asignan estilos a las card de equipo */
.contenedorEquipo__title{
    margin: 2rem;
    font-family: var(--fuenteSecundaria);
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--bordes);
}
/* Se hace responsive el contenedor equipo */
@media screen and (max-width: 550px){
    .contenedorEquipo__carousel{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
@media screen and (max-width: 1180px){
    .contenedorEquipo__carousel{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}